/// Grid container
/// @group layout
/// @access public
/// @type Number
.container {
  padding: 0 $grid-gutter;
}

/// Grid row
/// @group layout
/// @access public
/// @type Number
.row {
  margin: 0 #{-$grid-gutter};
}

/// Grid column: size 12
/// @group layout
/// @access public
/// @type Number
.col-12 {
  padding: 0 $grid-gutter;
}