{{!-- pages/index.hbs --}}

{{#> layouts/base title="Home | New Media Development | Artevelde University College Ghent" }}

  {{#*inline "content-block"}}
    <div class="intro">
      <h1>GDM - HTML5 Template</h1>
      <p>We educate future talents in Design for Print and Non-Print, Web- and App Development, Audio and Video Production, 2D- and 3D Animations, Printing and Packaging and the whole Management of those workflows!</p>
    </div>
  {{/inline}}

{{/layouts/base}}