 
 <main>
  <div class="blogpostContainer">
    <h1 class="blogpostTitle"></h1>
    <h3><span id="PostAuthor"></span> - <span id="postDate"></span></h3>
    <hr>
    <p class="postContent"></p>
    <form action="">
      <textarea name="" id="" cols="10" rows="10" class="blogpostComment" placeholder="Comment"></textarea>          
      <a href="#" class="lg-btn">Comment</a>
    </form>
  </div>
  </main>