
<main>
      <h1 class='title__Contact'></h1>
    <div class="adress">
    </div>
    <div class="socialMediaLinks">
        <a href="https://www.facebook.com/GrafischeendigitalemediaArteveldehogeschool/" target="_blank" class="facebook-btn"><i class="fa fa-facebook-official fa-5x" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/explore/locations/487127602/grafische-en-digitale-media-arteveldehogeschool/" target="_blank" class="instagram-btn"><i class="fa fa-instagram fa-5x" aria-hidden="true"></i></a>
        <a href="https://twitter.com/arteveldegdm" target="_blank" class="twitter-btn"><i class="fa fa-twitter-square fa-5x" aria-hidden="true"></i></a>
      </div>
  </main>