<main>
    <h1>Login</h1>
      <div class="containerLogin">
          <form action="" class="loginForm">
              <div class="">
                  <label for="email">email</label>
                  <input id="loginEmail" type="text" name="email">    
              </div>
  
              <div class="">
                      <label for="password">Password</label>
                      <input id="loginPassword" type="password" name="password">    
              </div>
              <div class="">
                  <a href="#" class="lg-btn loginBtn">Login</a>
                  <a href="register.html" class="lg-btn" id="">Register</a>    
              </div>
          </form>
      </div>
  </main>