
<main>
      <div class="profileContainer">
                <div class="profileleft">
                        <p><span class="firstname"></span><br><span class="lastname"></span></p>
                        <div class="follows">
                            <p><span class="following-amount"></span> <br>Following</p>
                            <p><span class="followers-amount"></span> <br>Followers</p>
                        </div>
                    </div>
                    <div class="profileRight">
                        <img src="../assets/images/profile-pictures/male.jpg" alt="">
                    </div>
            
            <ul class='artwork'>
                
            </ul>
      </div>
  </main>