
<main>
    <div id="container">
        <h1>Register</h1>
        <form action="">
            <div class="registerInput">
                <input type="text" placeholder="NAME" id='surname'>
                <span class="error" id="error__surname"></span>
                <input type="text"placeholder="FIRSTNAME" id='firstname'>
                <span class="error" id="error__firstname"></span>
                <input type="text" placeholder="EMAIL" id='email'>
                <span class="error" id="error__email"></span>
                <input type="text" placeholder="STUDENT NUMBER" id='studentnr'>
                <span class="error" id="error__studentnr"></span>
                <input type="text" placeholder="DAY OF BIRTH (DD/MM/YYYY)" id='dayofbirth'>
                <span class="error" id="error__dayofbirth"></span>
                <input type="password" placeholder="PASSWORD" id='password'>
                <span class="error" id="error__password"></span>
                <input type="password" placeholder="REPEAT PASS" id='password-repeat'>
                <span class="error" id="error__password-repeat"></span>
            </div>
            <div class="registerBtn">
                <a href="#" class="lg-btn" id="registerBtn">Register</a>
            </div>
        </form>
    </div>
  </main>