// Secondary colors
$black: #272727;
$dark-grey: #b6b6b6;
$grey: #d2d2d2;
$red: #ca331e;
$green: #167f34;

// Primary colors
$blue-1: #2a4d69;
$blue-2: #4b86b4;
$blue-3: #63ace5;
$blue-4: #adcbe3;
$white: #e7eff6;

