html{
    padding-top: 60px;
    background-color: $blue-4;
}

header{
    position: fixed;
    top: 0;
    padding:5px 0;
    background-color: $blue-3;
    vertical-align: middle;
    width: 100%;
    margin-bottom: 100px;
    div{        
        display: inline-block;
        height: 40px;
    }
    .logo{
        width: 18%;
        padding-left: 2%;
        img{
            width: 40px;
        }
    }
    .search{
        width: 60%;
        img{
            width: 40px;
        }
    }
    .hamburger{
        width: 40px;
        padding-right: 2%;
        text-align: right;
        width: 40px;
        img{
            width: 40px;
        }
    }

    
}