form{
    width: 95%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
}

.registerInput{
    width: 100%;
    input{
        width: 95%;
        max-width: 400px;
        margin: 0 auto;
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 1.5em;
        border: 1px solid $blue-3;
        color: $blue-4;
        background-color: $white;
        padding-left: 5px;
    }

    input::-webkit-input-placeholder{
        color:$blue-4
    }
    input::-moz-placeholder{
        color:$blue-4
    }
    input:-ms-input-placeholder{
        color:$blue-4
    }
    input::placeholder{
        color:$blue-4
    }
}
.registerBtn{
    @extend form;
    margin-top: 20px;
    text-transform: uppercase;
}
.error {
    color: $red;
    @extend form;
}